.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.row {
  background: black;
  opacity: 0.5;
}

.row:hover {
  opacity: 1;
}

a,
a:hover {
  color: gold;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  border: 2px solid gold;
}
