#pages-listings-show {
  height: 80vh;
  border: 2px solid black;
}

/* iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 60vh;
} */

.card {
  /* font-family: 'Bebas Neue', cursive;
  color: white; */
  background-color: black;
}

h1 {
 /* font-family: 'Bebas Neue', cursive; */
  color: white;
}

a {
  font-size: 1.3rem;
}
