#pages-auth-signup {
  text-align: center;
}

/* h1,
label {
  color: white;
  font-family: 'Bebas Neue', cursive;
} */

label {
  font-size: 1.3rem;
}

/* .btn {
  font-family: 'Bebas Neue', cursive;
} */
