@import "variablesMixins";
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  font-family: $bebas;
  @include blackBackground;
}

.card {
  color: white;
  @include blackBackground;
}

input,
textarea {
  font-family: $blinker;
}

label {
  color: white;
}
