<%- contentFor('styles') %>
<style>
  #pages-listings-show {
  height: 80vh;
  border: 2px solid black;
}

.card {
  background-color: black;
}

h1 {
  color: white;
}

a {
  font-size: 1.3rem;
}
</style>
<%- contentFor('scripts') %>
<script type="module" src="https://unpkg.com/x-frame-bypass"></script>
<script>
const id = window.location.href.split('/').reverse()[0]
const generateTitle = ({ isLoading, listing } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!listing) return `<h1 class="text-center mb-3">Listing ${id} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Listing ${id}</h1>`
}

const generateListing = ({ isLoading, listing } = {}) => {
  if (isLoading || !listing) return ''

  return `
    <div class="row">
      <div class="col-12">
        <div class="card">
          <img class="mb-2 card-img-top" src="${listing.work}" alt="user work"/>
          <div class="card-body text-center">
              <p>${listing.user.name}</p>
            <h5 class="card-title mb-2">${listing.title}</h5>
            <p class="card-text mb-2">${listing.description}</p>
          </div>
        </div>
      </div>
    </div>
  `
}

const generatePage = (info) => {
  const $page = $('#pages-listings-show')
  const $title = generateTitle(info)
  const $listing = generateListing(info)
  $page.html('').append($title).append($listing)
}

const getListing = () => {
  axios({
    method: 'GET',
    url: `/api/listings/${id}`
  }).then((resp) => {
    console.log(resp.data.userId)
    generatePage({ listing: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getListing()
})
</script>
<%- contentFor('body') %>
<div id="pages-listings-show" class="container"></div>

<!--<a href="/artists/${listing.user.id}">${listing.user.name} ${listing.user.id}</a>-->
