<%- contentFor('styles') %>
<style>
#pages-my-listings-new {
  text-align: center;
}

h1 {
  color: white;
}

label {
  font-size: 1.2rem;
}
</style>
<%- contentFor('scripts') %>
<script>
const generateTitle = () => {
  return '<h1 class="text-center mb-3">Create new listing</h1>'
}

const generateForm = ({ listing, errors } = {}) => {
  const $form = $(`

    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="listing-new-form">
          <div class="mb-3">
            <label for="listing-title" class="form-label">Title</label>
            <input
              id="listing-title"
              class="form-control ${errors?.title && 'is-invalid'}"
              name="title"
              value="${listing?.title || ''}"
            ></input>
            <div class="invalid-feedback">${errors?.title || ''}</div>
          </div>

          <div class="mb-3">
            <label for="listing-description" class="form-label">Description </label>
            <textarea
              id="listing-description"
              class="form-control ${errors?.description && 'is-invalid'}"
              name="description"
              rows="3"
            >${listing?.description || ''}</textarea>
            <div class="invalid-feedback">${errors?.description || ''}</div>
          </div>

          <div class="mb-3">
            <label for="listing-work" class="form-label">Upload work</label>
            <input id="listing-work" class="form-control" name="work" type="file"></input>
            <div class="invalid-feedback">${errors?.work || ''}</div>
          </div>

        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio1" value="hallMain" checked>
            <label class="form-check-label" for="inlineRadio1">Main Exhibition</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio2" value="hallA">
            <label class="form-check-label" for="inlineRadio2">Hall A</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio3" value="hallB">
            <label class="form-check-label" for="inlineRadio3">Hall B</label>
          </div>

          </div>

          <button class="btn btn-lg btn-light" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `)
  if (listing?.work?.constructor?.name === 'File') {
    const $work = $('#listing-work').attr('class', `form-control ${errors?.work && 'is-invalid'}`)
    $form.find('#listing-work').replaceWith($work)
  }
  return $form
}

const generatePage = (info) => {
  const $page = $('#pages-my-listings-new')
  const $title = generateTitle()
  const $form = generateForm(info)

  $page.html('').append($title).append($form)
}

const handleSubmit = (e) => {
  e.preventDefault()

  const data = new FormData(e.currentTarget)
  $('#listing-new-form button[type="submit"]').attr('disabled', true)

  axios({
    method: 'POST',
    url: '/api/my/listings',
    data
  }).then((resp) => {
    window.location.href = `/my/listings/${resp.data.id}`
  }).catch((err) => {
    generatePage({ listing: parseFormData(data), errors: err.response.data })
  })
}

const handleAddItem = () => {
  const data = parseFormData(new FormData($('#listing-new-form')[0]))

  generatePage({ listing: data })
}

const handleRemoveItem = (e) => {
  const data = parseFormData(new FormData($('#listing-new-form')[0]))
  data.items.splice($(e.target).data('index'), 1)

  generatePage({ listing: data })
}

$(document).ready(() => {
  generatePage()
  $('#pages-my-listings-new').on('submit', '#listing-new-form', handleSubmit)
  $('#pages-my-listings-new').on('click', '#add-listing-item', handleAddItem)
  $('#pages-my-listings-new').on('click', '.delete-item', handleRemoveItem)
})
</script>

<%- contentFor('body') %>
<div id="pages-my-listings-new" class="container"></div>
