<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const generateTitle = () => {
  return '<h1 class="text-center mb-3">New Listing</h1>'
}

/* const generateItemInputs = (values, errors) => {
  const items = values?.items || []
  const itemsErrs = errors?.items || []

  // update input, delete form-check div?
  return items.map((item, i) => {
    return `
      <div class="mb-3">
        <label for="listing-item-${i}-name" class="form-label">Item ${i + 1}</label>
        <button class="delete-item btn btn-danger btn-sm float-end" data-index="${i}" type="button">Delete</button>
        <input
          id="listing-item-${i}-name"
          class="form-control ${itemsErrs[i]?.name && 'is-invalid'}"
          name="items[${i}][name]"
          value="${item?.name || ''}"
        ></input>
        <div class="invalid-feedback">${itemsErrs[i]?.name || ''}</div>
      </div>
      <div class="form-check mb-3">
        <input id="listing-item-${i}-checked" class="form-check-input" type="checkbox" name="items[${i}][checked]" ${item?.checked ? 'checked' : ''}>
        <label for="listing-item-${i}-checked" class="form-check-label">Received/Brought</label>
      </div>
    `
  }).join('')
} */

// update input, delete items div, add artist?
const generateForm = ({ listing, errors } = {}) => {
  return `
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="listing-new-form">
          <div class="mb-3">
            <label for="listing-title" class="form-label">Title</label>
            <input
              id="listing-title"
              class="form-control ${errors?.title && 'is-invalid'}"
              name="title"
              value="${listing?.title || ''}"
            ></input>
            <div class="invalid-feedback">${errors?.title || ''}</div>
          </div>

          <div class="mb-3">
            <label for="listing-description" class="form-label">Description </label>
            <textarea
              id="listing-description"
              class="form-control ${errors?.description && 'is-invalid'}"
              name="description"
              rows="3"
            >${listing?.description || ''}</textarea>
            <div class="invalid-feedback">${errors?.description || ''}</div>
          </div>

          <div class="mb-3">
            <label for="listing-linkIframe" class="form-label">Link to work</label>
            <input
              id="listing-linkIframe"
              class="form-control ${errors?.linkIframe && 'is-invalid'}"
              name="linkIframe"
              type="url"
              value="${listing?.linkIframe || ''}"
            ></input>
            <div class="invalid-feedback">${errors?.linkIframe || ''}</div>
          </div>

        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio1" value="hallMain" checked>
            <label class="form-check-label" for="inlineRadio1">Main Exhibition</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio2" value="hallA">
            <label class="form-check-label" for="inlineRadio2">Hall A</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hallId" id="radio3" value="hallB">
            <label class="form-check-label" for="inlineRadio3">Hall B</label>
          </div>

          </div>

          <button class="btn btn-light" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `
}

/*
 <div class="mb-3">
            <div class="mb-2 fw-bold">Items (Optional)</div>
            ${generateItemInputs(listing, errors)}
            <div class="text-center">
              <button id="add-listing-item" class="btn btn-info btn-sm" type="button">Add Item</button>
            </div>
          </div>
 */

const generatePage = (info) => {
  const $page = $('#pages-my-listings-new')
  const $title = generateTitle()
  const $form = generateForm(info)

  $page.html('').append($title).append($form)
}

const handleSubmit = (e) => {
  e.preventDefault()

  const data = new FormData(e.currentTarget)
  $('#listing-new-form button[type="submit"]').attr('disabled', true)

  axios({
    method: 'POST',
    url: '/api/my/listings', // check
    data
  }).then((resp) => {
    window.location.href = `/my/listings/${resp.data.id}` // check
  }).catch((err) => {
    generatePage({ listing: parseFormData(data), errors: err.response.data })
  })
}

const handleAddItem = () => {
  const data = parseFormData(new FormData($('#listing-new-form')[0]))
  // data.items = [...data?.items || [], { name: '', checked: false }]

  generatePage({ listing: data })
}

const handleRemoveItem = (e) => {
  const data = parseFormData(new FormData($('#listing-new-form')[0]))
  data.items.splice($(e.target).data('index'), 1)

  generatePage({ listing: data })
}

$(document).ready(() => {
  generatePage()
  $('#pages-my-listings-new').on('submit', '#listing-new-form', handleSubmit)
  $('#pages-my-listings-new').on('click', '#add-listing-item', handleAddItem)
  $('#pages-my-listings-new').on('click', '.delete-item', handleRemoveItem)
})
</script>

<%- contentFor('body') %>
<div id="pages-my-listings-new" class="container"></div>
