<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const id = window.location.href.split('/').reverse()[0]

const generateTitle = ({ isLoading, listing } = {}) => {
  console.log(listing)
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!listing) return `<h1 class="text-center mb-3">Listing ${id} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Listing ${id}</h1>`
}

// add artist? delete ul list-group?
const generateListing = ({ isLoading, listing } = {}) => {
  if (isLoading || !listing) return ''

  return `
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <img class="mb-2 card-img-top" src="${listing.work}" alt="user work" />
          <div class="card-body text-center">
            <h3 class="card-title mb-2">${listing.title}</h3>
            <p class="card-text mb-2">${listing.description}</p>
            <div class="mb-2">
              <a href="/my/listings/${id}/edit" class="btn btn-lg btn-light">Edit</a>
              <button id="delete-listing" class="btn btn-lg btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  `
}

/*  <iframe src="${listing.linkIframe}"></iframe> */

const generatePage = (info) => {
  const $page = $('#pages-my-listings-show')
  const $title = generateTitle(info)
  const $listing = generateListing(info)

  $page.html('').append($title).append($listing)
}

const getListing = () => {
  axios({
    method: 'GET',
    url: `/api/my/listings/${id}`
  }).then((resp) => {
    generatePage({ listing: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

const handleDelete = (e) => {
  $(e.currentTarget).attr('disabled', true)

  axios({
    method: 'DELETE',
    url: `/api/my/listings/${id}` // check
  }).then((resp) => {
    window.location.href = '/my/listings'  // check
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getListing()
  $('#pages-my-listings-show').on('click', '#delete-listing', handleDelete)
})
</script>

<%- contentFor('body') %>
<div id="pages-my-listings-show" class="container"></div>
