<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const id = window.location.href.split('/').reverse()[0]

const generateTitle = ({ isLoading, listing } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!listing) return `<h1 class="text-center mb-3">Listing ${id} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Listing ${id}</h1>`
}

// add artist name as well? delete list group
const generateListing = ({ isLoading, listing } = {}) => {
  if (isLoading || !listing) return ''

  return `
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="mb-2" src="${listing.user.avatar}" alt="user avatar" width="150" />
            <h5 class="card-title mb-2">${listing.title}</h5>
            <p class="card-text mb-2">${listing.description}</p>
          </div>
        </div>
      </div>
    </div>
  `
}

/*   <ul class="list-group">
              ${listing.items.map((item) => `<li class="list-group-item ${item.checked && 'text-decoration-line-through'}">${item.name}</li>`).join('')}
            </ul> */

const generatePage = (info) => {
  const $page = $('#pages-listings-show')
  const $title = generateTitle(info)
  const $listing = generateListing(info)

  $page.html('').append($title).append($listing)
}

const getListing = () => {
  axios({
    method: 'GET',
    url: `/api/halls/${id}` // update
  }).then((resp) => {
    generatePage({ listing: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getListing()
})
</script>

<%- contentFor('body') %>
<div id="pages-listings-show" class="container"></div>
