<%- contentFor('styles') %>
<%- contentFor('scripts') %>

<script>
// const userId = window.location.href.split('/').reverse()[0] //delete?
 const id = window.location.href.split('/').reverse()[0] //delete?
// console.log(userId)
const generateTitle = ({ isLoading, listing } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!listing) return `<h1 class="text-center mb-3">Artist ${listing.name} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Artist Profile</h1>`
}

// add artist name as well? delete list group
// used to be listing.user.avatar, listing.user.name, listing.user.bio, listing.user.link
const generateArtistProfile = ({ isLoading, listing } = {}) => {
if (isLoading || !listing) return ''

  return `
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="mb-2" src="${listing.avatar}" alt="user avatar" width="150" />
            <h5 class="card-title mb-2">${listing.name}</h5>
            <p class="card-text mb-2">${listing.bio}</p>
            <a href=${listing.link}</a>
          </div>
        </div>
      </div>
    </div>
  `
}

      /* <a href="www.google.com"></a> */
      //artists/${user.id}"
      /*  <ul class="list-group">
              ${listing.items.map((item) => `<li class="list-group-item ${item.checked && 'text-decoration-line-through'}">${item.name}</li>`).join('')}
            </ul> */

const generatePage = (info) => {
  const $page = $('#pages-artist-show')
  const $title = generateTitle(info)

  const $profile = generateArtistProfile(info)

  $page.html('').append($title).append($profile)
}

const getProfile = () => {
  axios({
    method: 'GET',
    url: `/api/artists/${id}` // update
  }).then((resp) => {
    console.log(resp.data)
    generatePage({ listing: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getProfile()
})
</script>

<%- contentFor('body') %> HELLO HELLO
<div id="pages-artist-show" class="container"></div>
