<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const id = window.location.href.split('/').reverse()[0] //delete?

const generateTitle = ({ isLoading, user } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!user) return `<h1 class="text-center mb-3">Artist ${user.name} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Artist Profile</h1>`
}

// add artist name as well? delete list group
const generateArtistProfile = ({ isLoading, user } = {}) => {
if (isLoading || !user) return ''

  return `
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <a href="artists/${user.id}">
            <img class="mb-2" src="${user.avatar}" alt="user avatar" width="150" />
            </a>
            <h5 class="card-title mb-2">${user.name}</h5>
            <p class="card-text mb-2">${user.bio}</p>
            <a href=${user.link}</a>
          </div>
        </div>
      </div>
    </div>
  `
      }

      /*  <ul class="list-group">
              ${listing.items.map((item) => `<li class="list-group-item ${item.checked && 'text-decoration-line-through'}">${item.name}</li>`).join('')}
            </ul> */

const generatePage = (info) => {
  const $page = $('#pages-artist-show')
  const $title = generateTitle(info)
  const $profile = generateArtistProfile(info)

  $page.html('').append($title).append($profile)
}

const getProfile = () => {
  axios({
    method: 'GET',
    url: `/api/artists/${id}` // update
  }).then((resp) => {
    generatePage({ user: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getProfile()
})
</script>

<%- contentFor('body') %>
<div id="pages-artist-show" class="container"></div>
