<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const id = window.location.href.split('/').reverse()[0]
// const userId = window.location.href.split('/').reverse()[0] //delete?
console.log(id) // undefined
const generateTitle = ({ isLoading, user } = {}) => {
  if (isLoading) return `<div class="text-center">Loading...</div>`
  if (!user) return `<h1 class="text-center mb-3">Artist ${user.name} Not Found!</h1>`

  return `<h1 class="text-center mb-3">Artist profile</h1>`
}

// add artist name as well? delete list group
// used to be listing.user.avatar, listing.user.name, listing.user.bio, listing.user.link
const generateArtistProfile = ({ isLoading, user } = {}) => {
  if (isLoading || !user) return ''

  return `
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="mb-2" src="${user.avatar}" alt="user avatar" width="200" />
            <h3 class="card-title mb-2">${user.id}</h3>
            <p class="card-text mb-2">${user.bio}</p>
            <a href=${user.link}</a>
          </div>
        </div>
      </div>
    </div>
  `
}

/* <a href="www.google.com"></a> */
//artists/${user.id}"
/*  <ul class="list-group">
 ${listing.items.map((item) => `<li class="list-group-item ${item.checked && 'text-decoration-line-through'}">${item.name}</li>`).join('')}
</ul> */

const generatePage = (info) => {
  const $page = $('#pages-artist-show')
  const $title = generateTitle(info)
  const $profile = generateArtistProfile(info)
  $page.html('').append($title).append($profile)
}

const getProfile = () => {
  //const userId = user.id // wrote new line
  axios({
    method: 'GET',
    url: `/api/artists/${id}` // update /api/artists/${userId}
  }).then((resp) => {
    console.log(resp.data)
    console.log(resp.data.id)
    generatePage({ user: resp.data })
  }).catch((err) => {
    generatePage()
  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getProfile()
})
</script>

<%- contentFor('body') %> HELLO HELLO
<div id="pages-artist-show" class="container"></div>
