<%- contentFor('styles') %>

<style>
body {
  background-color: black
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
</style>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
      <div class="container" id="galleries">
        <div class="row text-center border border-dark mt-10" id="hallMain">
          <div class="col-12">
            <h1 class="display-3">
              <a href="/halls/hallMain" class="text-decoration-none">Main Exhibition</a>
            </h1>
          </div>
        </div>

        <div class="row text-center border border-dark mt-10" id="hallA">
          <div class="col-12">
            <h1 class="display-3">
              <a href="/halls/hallA" class="text-decoration-none">Hall A</a>
            </h1>
          </div>
        </div>

        <div class="row text-center border border-dark mt-10" id="hallB">
          <div class="col-12">
            <h1 class="display-3">
              <a href="/halls/hallB" class="text-decoration-none">Hall B</a>
            </h1>
          </div>
        </div>
      </div>

<script>
  $(".navbar").hide();
</script>
