<%- contentFor('styles') %>
<style>
body {
  background-color: black
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.row {
  background: black;
  opacity: 0.5;
}

.row:hover {
  opacity: 1;
}

a, a:hover {
  color: gold;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  border: 2px solid gold;
}

</style>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
      <div class="container" id="galleries">
        <div class="row text-center mt-10" id="hallMain">
          <div class="col-12">
            <h1 class="display-3 animate__animated animate__slideInDown">
              <a href="/halls/hallMain" class="text-decoration-none">Main Gallery &#8599 </a>
            </h1>
          </div>
        </div>

        <div class="row text-center mt-10" id="hallA">
          <div class="col-12">
            <h1 class="display-3 animate__animated animate__slideInRight">
              <a href="/halls/hallA" class="text-decoration-none"> Gallery A &nbsp &#8594 </a>
            </h1>
          </div>
        </div>

        <div class="row text-center mt-10" id="hallB">
          <div class="col-12">
            <h1 class="display-3 animate__animated animate__slideInLeft">
              <a href="/halls/hallB" class="text-decoration-none">Gallery B &nbsp &#8601 </a>
            </h1>
          </div>
        </div>
      </div>

<script>
  $(".navbar").hide();
</script>
