<%- contentFor('styles') %>
<style>
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.col {
  height: 50vh;
}

#visitors {
  display: block;
  opacity: 0.5;
  background-image: url("/assets/hand_right.png");
  background-position: center;
  background-size: cover;
  background-color: red;
}

#exhibitors {
  display: block;
  opacity: 0.5;
  background-image: url("/assets/hand_left.png");
  background-position: center;
  background-size: cover;
  background-color: blue;
}

#visitors:hover, #exhibitors:hover {
  opacity: 0.7;
  background-image: url("/assets/hand_down.png");
  background-size: cover;
  background-position: 60% 90%;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

h2,
a {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

a {
  position: relative;
  top: 250px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 3rem;
  color: white;
  box-shadow: inset 0 0 0 0 black;
}

a:hover {
  color: white;
  box-shadow: inset 100px 0 0 0 black;
}
</style>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="home" class="container">
  <div class="row text-center">
    <h1 class="display-4">Art Tunnel </h1>
  </div>

  <div class="row text-center text-center">
    <div id="visitors" class="col">
      <h2 class="display-1">Visitors </h2><br>
        <a href="/allHalls">Enter</a>
  </div>

  <div id="exhibitors" class="col text-center">
    <h2 class="display-1">Exhibitors </h2><br>
      <a href="auth/login" class="mx-2">Login </a>
      <a href="auth/signup">Register </a>
    </div>
  </div>
</div>
<script>
$(".navbar").hide();
</script>
