<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="home" class="container">
  <div class="row text-center">
    <h1> M o M A online </h1>
    </div>
    <div class="row text-center">
    <div id="visitors" class="col">
    <h2 class="display-1">Visitors </h2><br>
    <!--<img src="/assets/hand_right.png"> -->
      <a href="/allHalls">Enter</a>
    </div>

    <div id="exhibitors" class="col">
    <h2 class="display-1">Exhibitors </h2><br>
      <a href="auth/login" class="mx-2">Login </a>
      <!--<img src="/assets/hand_left.png"> -->
      <a href="auth/signup">Register </a>
    </div>
  </div>
</div>


  <script>
    $(".navbar").hide();

  </script>
