<%- contentFor('styles') %>
<style>
h1 {
  color: white;
}
</style>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-found" class="container">
  <h1 class="text-center">No such page</h1>
</div>
